
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

.inventoryTable{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 80%;
}

.header{
    text-align: center;
    font-size: 50px;
}

.table{
    flex-basis: 80%;
    align-items: center;
    height: 150px;
    justify-content: space-around;
}

.title{
    font-size: 30px;
}

.box1, .box2{
    flex-basis: 50%;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
}

#inventory{
    align-content: center;
    margin: auto;
}